<div class="login-page-container forgot-password-container">
  <div class="login-page">
    <div class="login-page__form">
      <div class="forgot-email-container" *ngIf="activeView === enumView.FORGOT_EMAIL">
        <app-forgot-email (onClick)="onChangeRoute($event)"></app-forgot-email>
      </div>
      
      <div class="forgot-email-otp-container" *ngIf="activeView === enumView.OTP">
        <app-forgot-otp (onClick)="onChangeRoute($event)"></app-forgot-otp>
      </div>
      
      <div class="new-password-container" *ngIf="activeView === enumView.NEW_PASSWORD">
        <app-new-password (onClick)="onChangeRoute($event)"></app-new-password>
      </div>
    </div>
  </div>
</div>
