<div class="dashboard-container">
<!-- dashboard start -->
  <div class="dashboard">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
          <div class="dashboard__content">
           <img src="/assets/images/staff.png" alt="staff">
            <div class="dashboard__content__data">
              <h3>Registred</h3>
              <h2>28,000</h2>
            </div>
          </div>
       </div>

       <div class="col-md-3">
         <div class="dashboard__content">
           <img src="/assets/images/assets.png" alt="assets">
           <div class="dashboard__content__data">
             <h3>Today's Attendance</h3>
             <h2>25,250</h2>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="dashboard__content">
           <img src="/assets/images/expense.png" alt="expense">
           <div class="dashboard__content__data">
             <h3>Group Leaders</h3>
             <h2>37</h2>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="dashboard__content">
           <img src="/assets/images/income.png" alt="income">
           <div class="dashboard__content__data">
             <h3>Today's Attendance</h3>
             <h2>25,250</h2>
           </div>
         </div>
       </div>

     </div>
    </div>
  </div>
  <!-- dashbord end -->
</div>
