@import "../../../assets/scss/abstracts/abstracts";
  .login-page{
    background: $light-gray-color;
    display: flex;
    height: 100vh;
    &__form{
      margin: auto;
      padding: 4rem;
      width: 35%;
      background: $white-color;
      h2{
        text-align: center;
        color: $primary-color;
        font-size: 3rem;
        font-weight: 500;
      }
      .form-group{
        margin-bottom: 2.5rem;
      }
      label{
        display: inline-block;
        margin-bottom: .5rem;
        font-weight: 400;
        color: $black-color;
      }
      .form-action{
        button{
          padding: 1rem 2rem;
          border: none;
          margin: 0 2rem;
          border-radius: .25rem;
          font-weight: 500;
          font-size: 1.4rem;
          width: 39%;
          display: inline-block;
          cursor: pointer;
        }
      }

      &__password{
        float: right;
        margin-bottom: 20px;
        cursor: pointer;
        a{
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
  }

.forgot-password-container{
  input ,select {
    width: 100%;
    padding: .375rem 0.75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    min-height: 3.8rem;
    display: initial;
    background-color: $white-color;
    background-clip: padding-box;
    border: 0.1rem solid $light-gray-color;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:focus {
      outline: none;
    }
  }
}

