<div class="user-type-container">
  <div class="add-user">
    <div class="add-user__form">
      <form action="" autocomplete="off">
        <div class="add-user__form__content">
          <div class="add-user__form__content__header">
            <h1>Add Type</h1>
          </div>
          <div class="add-user__form__content__body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Type:</label>
                  <input type="text" id="name" class="form-control" placeholder="Enter Type">
                </div>
              </div>
            </div>

            <div class="form-action">
              <button type="submit" class="btn-primary ">Save</button>
              <button type="button" (click)="userTypeList()" class="btn-orange">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

