<div class="position-container">
  <div class="add-user">
    <div class="add-user__form">
      <form action="" autocomplete="off">
        <div class="add-user__form__content">
          <div class="add-user__form__content__header">
            <h1>Add Position</h1>
          </div>
          <div class="add-user__form__content__body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" class="form-control" placeholder="Enter Name">
                </div>
              </div>
            </div>

            <div class="form-action">
              <button type="submit" class="btn-primary ">Save</button>
              <button type="button" (click)="positionList()" class="btn-orange">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

